<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CI-CD HW</title>
</head>
<body>
    <h1 style="text-align: center;">Compute Method Interface</h1>
    <p style="text-align: center;">Please look at the README part and then enter the needed parameters to compute with 2 array lists.</p>
    <br>
    <p style="text-align: center;">Resulting array list: {{result}}</p>
    <br>
    <form action="compute" method="post" style="text-align: center;">
        <label for="input1">The first array list:</label><br>
        <textarea name="input1" rows="10" cols="30"></textarea><br><br>

        <label for="input2">The second array list:</label><br>
        <textarea name="input2" rows="10" cols="30"></textarea><br><br>

        <label for="input3">Char for sort setting (a-d-r-j):</label><br>
        <textarea name="input3" rows="2" cols="5"></textarea><br><br>

        <label for="input4">Char for duplicate setting (c-d):</label><br>
        <textarea name="input4" rows="2" cols="5"></textarea><br><br>

        <label for="input5">Char for error setting (n-s):</label><br>
        <textarea name="input5" rows="2" cols="5"></textarea><br><br>

        <label for="input6">Char for transform setting (p-n-s):</label><br>
        <textarea name="input6" rows="2" cols="5"></textarea><br><br>

        <label for="input7">Int for divisor in transform setting:</label><br>
        <textarea name="input7" rows="2" cols="10"></textarea><br><br>

        <input type="submit">
    </form>

    <h2 style="text-align: center;">README</h2>
    <p>
        Made a basic computing method that works with two arrays and merges them with the help of parameters.
        All the parameters are assumed to be filled with proper types.
    </p>
    <h3>Parameters</h3>
    <ul>
        <li><strong>sortSetting:</strong>
            <ul>
                <li>a: ascending</li>
                <li>d: descending</li>
                <li>r: randomize</li>
                <li>j: just concat</li>
            </ul>
        </li>
        <li><strong>duplicateSetting:</strong>
            <ul>
                <li>c: care for duplicates (put all of them)</li>
                <li>d: don't care for duplicates (take one in the resulting list only)</li>
            </ul>
        </li>
        <li><strong>errorSetting:</strong>
            <ul>
                <li>n: return null for some cases</li>
                <li>s: won't return null ever (for sensitive usages)</li>
            </ul>
        </li>
        <li><strong>transformSetting:</strong>
            <ul>
                <li>p: make all elements >= 0 (take negative ones' absolute value)</li>
                <li>n: if there are negative ones don't mess with them</li>
                <li>s: shrink (divide) with last int</li>
            </ul>
        </li>
    </ul>
    <p>
        The integer parameter div is ignored by default but needs to be filled with an integer.
        If transformSetting is s, then it will be used.
    </p>
</body>
</html>
